.healthPersonManage .personHealthItem{
    width:364px;
    height: 400px;
}
.healthPersonManage .personHethBg1{
    background-image: url("../imgs/phmanage/bg1.png");
}
.healthPersonManage .personHethBg2{
    background-image: url("../imgs/phmanage/bg2.png");
}
.healthPersonManage .personHethBg3{
    background-image: url("../imgs/phmanage/bg3.png");
}
.nav-item-title{
    width: 850px;
    height: 56px;
    font-size: 60px;
    font-family: FZLanTingHei-B-GBK;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 36px;
    text-align: center; 
}
.nav-bgImg1{
background: url("../imgs/banner.png");
background-repeat:no-repeat;    
background-size:cover;
}
.nav-item-box{
width: 870px;
left:0;
}
.nav-icon-img{
    margin:0 auto;
    display: block;
}
.icon-img-title{
    font-size: 22px;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 36px;
}
.nav-item-bottom{
 width:120%;
 position: relative;
 left:-10%;

}
.healthPersonManage .personHethBg4{
    background-image: url("../imgs/phmanage/bg4.png");
}
.healthPersonManage .personHethBg5{
    background-image: url("../imgs/healthPerson4.png");
}
.healthPersonManage .personHethBg6{
    background-image: url("../imgs/phmanage/bg6.png");
}
.peronHethTitle{
    
font-size: 24px;
font-family: Source Han Sans CN;
font-weight: 500;
color: #333333;
line-height: 36px;
margin-bottom: 10px;
}
.phText{
    width: 196px;
    margin:0 auto;
}
.ph-btn-more{
    
font-size: 20px;
font-family: Source Han Sans CN;
font-weight: 500;
color: #57BD46;
line-height: 20px;
padding:19px 30px;
border:1px solid #57BD46;
display: inline-block;
border-radius: 50px;
margin-left: 50%;
height: 57px;
margin-top: 10px;
margin-bottom: 60px;
transform: translate(-50%,0);
cursor: pointer;
}
.healthPersonManage{
margin-bottom: 40px;
}
.content{padding-bottom: 0;}
.healthPersonManage .personHealthItem:hover .peronHethTitle{
    -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); 
}
.healthPersonManage .personHealthItem:hover .peronHethP{
    -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transform: translateY(0px); 
}
.healthMallBg{
    width: 100%;
    height: 335px;
    padding-top: 80px;
    background: url("../imgs/bg1.png");
}
.healthMallBg .container{
    width: 1200px;
    margin:0 auto;
    display: flex;
}
.healthMallBg .right p{
height: 15px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 500;
color: #FFFFFF;
line-height: 24px;
text-align: center;
}
.healthMallBg .right{
    display: flex;
    margin-left: 223px;
}
.healthMallBg .container .left .title{
height: 35px;
font-size: 36px;
font-family: Source Han Sans CN;
font-weight: bold;
color: #FFFFFF;
line-height: 36px;
}
.healthMallBg .container .left p{
    margin-top: 35px;
    width: 598px;
height: 86px;
font-size: 14px;
font-family: Source Han Sans CN;
font-weight: 500;
color: #FFFFFF;
line-height: 24px;
}
#alertWx{
    display: none;
}
#alertWx .title{
    height: 28px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
    margin-bottom: 26px;
}
.layui-layer .layui-layer-content .title{
    height: 28px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
    margin-bottom: 26px;
}

 .boxQr {
    width: 100%;
    height: 184px;
    background: url("../imgs/ehmanage/bg7.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.layui-layer{
    border-radius: 10px;
}