.navBar{
    height: 36px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    margin:15px 0;
}
.container{
    width: 1200px;
    margin:0 auto;
}
.box-choisePlan{
    /* display: flex;
    justify-content: space-between; */
    overflow: hidden;
    display: flex;
}
.box-choisePlan .right{
    display: inline-block;
    margin-left:78px;
}
.box-choisePlan .right .title{
    width: 173px;
    height: 28px;
    font-size: 28px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    
    
}
.box-choisePlan .right img{
position: relative;
top:-2px;
margin-right: 5px;
}
.ml40{
    margin-left: 40px;
}
.box-choisePlan .right .text{
    width: 444px;
    height: 116px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: Regular;
    color: #999999;
    line-height: 34px;
}
.box-choisePlan .right .text span{
    color:#555555;
    font-size: 14px;
    font-weight: bold;
}
.planChoise{
    font-size: 24px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 36px;
    margin-top: 58px;
}
.btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.btn-box .btn-item{
    width: 224px;
    height: 46px;
    border:1px dashed #E7E7E7;
    border-radius: 5px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #555555;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    
}
.btn-Phone{
    width: 268px;
    height: 46px;
    background: linear-gradient(-40deg, #45B233, #67C757);
    line-height: 46px;
    text-align: center;
    color:#fff;
    border-radius: 5px;
    margin-top: 60px;
}
.callPhone{
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #999999;
    line-height: 36px;
    margin-top:20px;
    margin-bottom: 50px;
}

.callPhone .bold{
    font-size: 26px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #555555;
    line-height: 36px;
    margin:0 20px;
    
}
.optionsBox{
    border-top:1px solid #ddd;
    border-bottom: 1px solid #ddd;;
}
.options{
    width: 1200px;
    margin:0 auto;
}
.option-item{
    width:204px;
    height:80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    display: inline-block;
}
.option-item:hover{
    color: #45B233;
    border-bottom: 2px solid #45B233;
}
.optionChoised{
    color: #45B233;
    border-bottom: 2px solid #45B233;
}
.productDetailBox{
    /* padding:0 19%; */
    width: 1200px;
    margin:0 auto;
}
.productDetailBox .productDetailItem{
    width: 100%;
  position: relative;


}

.boxQr{
    width: 100%;height: 184px;
    background: url("../imgs/ehmanage/bg7.png");
    background-repeat:no-repeat;    
    background-size:cover;
}
.pCustomer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.seInstruction{
    width:1200px;
    margin:0 auto;
    padding-top:60px;
}
.seInstruction .title{
    margin-top: 0px;
    width: 285px;
    height: 51px;
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #555555;
    line-height: 51px;
    margin-bottom: 30px; 
}
  .productDetailItem .title {
    height: 28px;
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    line-height: 30px;
    margin-bottom: 26px;
}
.seInstruction p{
    font-size:20px;
    color:#777777;
font-weight: Regular;
line-height: 52px;
}
.seInstruction p span{
font-weight: Bold;
color:#555555;
font-size: 26px;
}
.processBox{
    display: flex;
    
}
.processBox .left{
    width: 46px;
    height: 411px;
    position: relative;
    margin-right: 30px;
}

.merits{
    display: flex;
}
.merit{
    display: inline-block;
    width: 283px;
    height: 316px;
    background: #fff;
    border-radius: 5px;
    padding:49px 36px;
    
box-shadow: 0px 11px 9px 0px rgba(237, 237, 237, 0.53);
}
.merit .title{
    height: 51px;
    font-size: 30px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #45B233;
    line-height: 51px;
    margin:0;
}
.merit P{
    width: 214px;

font-size: 16px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #666666;
line-height: 35px;
margin-top:10px;

}
.seInstructionBox{
}
.disclaimer{
    padding-top: 104px;
    padding-bottom: 78px;
}
.disclaimer .disBody{
    /* width:1200px; */
    margin:0 auto;

}
.disclaimer .title{
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #555555;
    line-height: 36px;

}
.disclaimer P{
    margin-top: 40px;
    width: 889px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #666666;
    line-height: 52px;

}
.layui-timeline{
    width: 900px;
    margin:0 auto;
    
}
.layui-timeline .layui-timeline-title{
    font-weight: Bold;
    color: #555555;
    font-size: 26px;
}
.layui-timeline .iconStep{
    position: relative;
    left: -16px;
}
.layui-timeline-content {
    padding-left: 60px;
    position: relative;
    top: -32px;
}
.layui-timeline-content p{
    font-size: 20px;
    color: #777777;
    font-weight: Regular;
    line-height: 52px;
}
.layui-timeline-item{
    padding-bottom: 0;
}
.setmrt{
    padding-top: 40px;
}
.tabsBox{
    /* width: 1200px; */
    /* margin:0 auto; */
    position: relative;
}
.van-tabs{
    /* width: 1200px; */
    /* z-index: 999; */
}
.van-tabs .van-tab{
    max-width: 160px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
}
.van-tab__pane{
    width: 803px!important;
}
.van-tabs--line .van-tabs__wrap{
    height: 80px!important;
}
.van-tabs .van-tab--active{
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #45B233;
    line-height: 80px;
    border-bottom:3px solid #45B233;
}
.van-tabs__nav--line{
width: 1200px;
margin:0 auto;
}
.van-tabs--line .van-tabs__wrap{
    border-top: 1px solid rgba(224, 224, 224, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    box-sizing:unset;
}
.van-tabs__content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.lbNav{
    width: 400px;
    height: 285px;
    overflow: hidden;
    position: relative;
}
.lbNav .lbNavBody{
    display: flex;
    width: 1200px;
    transition: all 0.3s linear;
    position:absolute;
    left: 0;
}